{% extends 'base/base.html' %}

{% block content%}
    <h2>Welcome!</h2>

    {% from 'macro.html' import render_fields %}


    <form name="sentMessage" id="contactForm" method="POST">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{ render_fields(form.user, class="form-control") }}
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                {{ render_fields(form.email, class='form-control') }}
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                    {{ render_fields(form.comment, class='form-control') }}
                <p class="help-block text-danger"></p>
            </div>
        </div>
        {{ form.honeypot}}
        <div id="success"></div>
        <div class="row">
            <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-outline-primary">Send</button>
            </div>
        </div>
    </form>


{% endblock %}}